@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import '@fortawesome/fontawesome-free/css/all.css';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0px;
  display: flex;
  place-items: center;
  width: 100dvw;
  height: auto;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #5332EE;
  font-family: "Titan One";
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}


button {
  border-radius: 15px;
  background-color: rgb(91, 238, 169);
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  
  border: solid 3px #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


#app {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  
}


/*----Navigation Bar---*/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background-color: rgb(107, 221, 173);
}

.navbar-left {
  flex: 1;
}

.navbar-center {
  flex: 2;
  display: flex;
  justify-content: center;
}

.navbar-center a {
  margin-right: 20px;
}

.navbar-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu-links > a{
  padding:20px;
  font-family: "Roboto";
  font-size: 1.1rem;
  color: rgb(0, 0, 0) ;
}


.language-btn {
  font-size: 1.5rem;
  background-color: transparent;
  border: none;
  margin-right: 20px;
  cursor: pointer;
}

.cta-btn {
  padding: 15px 30px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.hamburger-btn {
  display:none;
}




@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #76f8d1;
    margin: 20px;
  }
}

@media (max-width: 768px) {
  
  .navbar-center
  .navbar-right {
    display: flex;
    flex: 2;
    justify-content: center;
  }
  .menu-links {
    display:none;
  }
  .hamburger-btn {
    display: block;
    float:right;
  }

  .logo {

    font-size: 1.2rem;

  }

  h1 {
    font-size:1.8rem;
  }

  .staff-info {
    text-align:center;
  }


}